* {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: blue;
    height: 80vh;
    min-height: 600px;
    background-image: url('https://i.ibb.co/HNvHSyV/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: flex;
    font-size: 20px;
    color: white;
    align-items: center;
}

.menu span {
    margin-right: 30px;
    cursor: pointer;
}

.contact {
    background-color: white;
    color: black;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.contact:hover {
    background-color: antiquewhite;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
}

.arrow {
    margin-top: 60px;
}

.section1, .section2 {
    display: flex;
    height: 350px;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .text-container {
    width: 70%;
}


.left, .right {
    flex: 1;
}



.left h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.left p {
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.left .button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left div img {
    width: 150px;
}



.left, .right {
    flex: 1;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section1a {
    display: flex;
    height: 350px;
}

.section1a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1a .text_container{
    width: 70%;
    margin: 50px;
}


.lefta h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.lefta p {
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}


.lefta, .righta {
    flex: 1;
}
.client-image{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.client-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBF8;
    padding-right: 50px;
    padding-left: 50px;
}

.section3 h1 {
    color: #A0A1A2;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.clients {
    display: flex;
    justify-content: space-evenly;
}
.clients .client{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
}

.client .client-image{
    margin-bottom: 30px;
}

.client p {
    text-align: center;
    margin-bottom: 30px;
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;

}
.client .details{
    text-align: center;
}

.client h4{
    color:#A0A1A2 ;
    margin-top: 8px;
}

.section4_examples {
    display: flex;
}
.section4_examples img {
    flex: 0.25;
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: #8DCFC0;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}



.footer .Logo {
    color: #2C7363;
}

.footer__navigation{
    color:#55998A;
    margin-top: 30px;
    font-weight: bold;
}

.footer__navigation span {
    padding:  8px;
    cursor: pointer;
}

.social__media {
    display: flex;
    margin-top: 50px;
    
}

.social__media img {
    padding:  10px;
    cursor: pointer;
}

.footer__navigation span:hover{
    color: #17998A;
}